<link rel="stylesheet" href="/css/user_profile.css" />

<h2 style="margin-left: 4%">Add Projects, Poems and Sketches</h2>
<div id="student_list_container">
  <ul class="student_list_container">
    <a href="/navToProject">Add Projects</a>
    <a href="/navToPoem">Add Poems</a>
    <a href="/navToSketch">Add Sketches</a>
    <a href="/navToBook">Add Book</a>
    <a href="/navToNonTechnical">Add Non-Technical</a>
  </ul>
</div>
